content/resources/xsd/archetype-registry-1.0.0.xsd

<?xml version="1.0"?>
<!-- =================== DO NOT EDIT THIS FILE ====================         -->
<!-- Generated by Modello 1.4 on 2010-10-28 03:21:56,                       -->
<!-- any modifications will be overwritten.                                 -->
<!-- ==============================================================         -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns="http://maven.apache.org/plugins/maven-archetype-plugin/archetype-registry/1.0.0" targetNamespace="http://maven.apache.org/plugins/maven-archetype-plugin/archetype-registry/1.0.0">
  <xs:element name="archetype-registry" type="ArchetypeRegistry">
    <xs:annotation>
      <xs:documentation source="version">0.0.0+</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ArchetypeRegistry">
    <xs:annotation>
      <xs:documentation source="version">0.0.0+</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="Languages">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Language" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="FilteredExtensions">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="FilteredExtension" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
</xs:schema>