content/resources/xsd/build-cache-report-1.2.0.xsd

<?xml version="1.0"?>
<!-- =================== DO NOT EDIT THIS FILE ====================         -->
<!-- Generated by Modello 2.1.2,                                            -->
<!-- any modifications will be overwritten.                                 -->
<!-- ==============================================================         -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns="http://maven.apache.org/BUILD-CACHE-REPORT/1.2.0" targetNamespace="http://maven.apache.org/BUILD-CACHE-REPORT/1.2.0">
  <xs:element name="cacheReport" type="CacheReport">
    <xs:annotation>
      <xs:documentation source="version">0.0.0+</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="CacheReport">
    <xs:annotation>
      <xs:documentation source="version">0.0.0+</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="projects">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element type="ProjectReport" name="project" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="ProjectReport">
    <xs:annotation>
      <xs:documentation source="version">0.0.0+</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="groupId" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="artifactId" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="checksum" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="checksumMatched" type="xs:boolean">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="lifecycleMatched" type="xs:boolean">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="pluginsMatched" type="xs:boolean">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="source" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="sharedToRemote" type="xs:boolean">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="url" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
</xs:schema>