content/resources/xsd/build-cache-diff-1.2.0.xsd

<?xml version="1.0"?>
<!-- =================== DO NOT EDIT THIS FILE ====================         -->
<!-- Generated by Modello 2.1.2,                                            -->
<!-- any modifications will be overwritten.                                 -->
<!-- ==============================================================         -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns="http://maven.apache.org/BUILD-CACHE-DIFF/1.2.0" targetNamespace="http://maven.apache.org/BUILD-CACHE-DIFF/1.2.0">
  <xs:element name="diff" type="Diff">
    <xs:annotation>
      <xs:documentation source="version">0.0.0+</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Diff">
    <xs:annotation>
      <xs:documentation source="version">0.0.0+</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="mismatches">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element type="Mismatch" name="mismatch" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="Mismatch">
    <xs:annotation>
      <xs:documentation source="version">0.0.0+</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="detail">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element type="MismatchDetail" name="detail" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="item" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation source="version">0.0.0+</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="current" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation source="version">0.0.0+</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="baseline" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation source="version">0.0.0+</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="reason" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation source="version">0.0.0+</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="resolution" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation source="version">0.0.0+</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="context" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation source="version">0.0.0+</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="MismatchDetail">
    <xs:annotation>
      <xs:documentation source="version">0.0.0+</xs:documentation>
    </xs:annotation>
  </xs:complexType>
</xs:schema>