content/resources/xsd/remote-resources-1.1.0.xsd

<?xml version="1.0"?>
<!-- =================== DO NOT EDIT THIS FILE ====================         -->
<!-- Generated by Modello 1.4.1 on 2011-02-27 20:46:21,                     -->
<!-- any modifications will be overwritten.                                 -->
<!-- ==============================================================         -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns="http://maven.apache.org/remote-resources/1.1.0" targetNamespace="http://maven.apache.org/remote-resources/1.1.0">
  <xs:element name="remoteResourcesBundle" type="RemoteResourcesBundle">
    <xs:annotation>
      <xs:documentation source="version">1.1.0</xs:documentation>
      <xs:documentation source="description">Root element of the remote-resources.xml file.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="RemoteResourcesBundle">
    <xs:annotation>
      <xs:documentation source="version">1.1.0</xs:documentation>
      <xs:documentation source="description">Root element of the remote-resources.xml file.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="remoteResources">
        <xs:annotation>
          <xs:documentation source="version">1.1.0</xs:documentation>
          <xs:documentation source="description">
            Remote resources that are contained in a remote resources bundle.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="remoteResource" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="sourceEncoding" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.1.0</xs:documentation>
          <xs:documentation source="description">
            Source encoding of the remote resources contained in the bundle.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
</xs:schema>