content/resources/xsd/skin-1.7.0.xsd

<?xml version="1.0"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->
<!-- =================== DO NOT EDIT THIS FILE ====================         -->
<!-- Generated by Modello 1.8.1,                                            -->
<!-- any modifications will be overwritten.                                 -->
<!-- ==============================================================         -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns="http://maven.apache.org/SKIN/1.7.0" targetNamespace="http://maven.apache.org/SKIN/1.7.0">
  <xs:element name="skin" type="SkinModel">
    <xs:annotation>
      <xs:documentation source="version">1.7.0+</xs:documentation>
      <xs:documentation source="description">
         The &lt;code&gt;&amp;lt;skin&amp;gt;&lt;/code&gt; element is the root of the skin descriptor.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="SkinModel">
    <xs:annotation>
      <xs:documentation source="version">1.7.0+</xs:documentation>
      <xs:documentation source="description">
         The &lt;code&gt;&amp;lt;skin&amp;gt;&lt;/code&gt; element is the root of the skin descriptor.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="prerequisites" type="Prerequisites">
        <xs:annotation>
          <xs:documentation source="version">1.7.0+</xs:documentation>
          <xs:documentation source="description">Describes the prerequisites in the build environment for using this skin.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="encoding" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.7.0+</xs:documentation>
          <xs:documentation source="description">Encoding of text content, like the Velocity template itself.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="Prerequisites">
    <xs:annotation>
      <xs:documentation source="version">1.7.0+</xs:documentation>
      <xs:documentation source="description">Describes the prerequisites a skin can have.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="doxia-sitetools" type="xs:string" default="1.7">
        <xs:annotation>
          <xs:documentation source="version">1.7.0+</xs:documentation>
          <xs:documentation source="description">
            The minimum version of Doxia Sitetools required to use the resulting skin.
            
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
</xs:schema>