content/resources/xsd/verifications-1.0.0.xsd

<?xml version="1.0"?>
<!-- =================== DO NOT EDIT THIS FILE ====================         -->
<!-- Generated by Modello 1.0.1 on 2010-01-30 17:55:22,                     -->
<!-- any modifications will be overwritten.                                 -->
<!-- ==============================================================         -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns="http://maven.apache.org/verifications/1.0.0" targetNamespace="http://maven.apache.org/verifications/1.0.0">
  <xs:element name="verifications" type="Verifications">
    <xs:annotation>
      <xs:documentation source="version">1.0.0</xs:documentation>
      <xs:documentation source="description">Root element of the verifications file.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Verifications">
    <xs:annotation>
      <xs:documentation source="version">1.0.0</xs:documentation>
      <xs:documentation source="description">Root element of the verifications file.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="files">
        <xs:annotation>
          <xs:documentation source="version">1.0.0</xs:documentation>
          <xs:documentation source="description">
            List of files and directories to check.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="file" minOccurs="0" maxOccurs="unbounded" type="File"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="File">
    <xs:annotation>
      <xs:documentation source="version">1.0.0</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="location" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0</xs:documentation>
          <xs:documentation source="description">Location of the file or directory to check.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="contains" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0</xs:documentation>
          <xs:documentation source="description">Check the content against this regular expression.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="exists" type="xs:boolean" default="true">
        <xs:annotation>
          <xs:documentation source="version">1.0.0</xs:documentation>
          <xs:documentation source="description">
            When this is set to &lt;code&gt;true&lt;/code&gt; the plugin checks that the
            file or directory exists. When set to &lt;code&gt;false&lt;/code&gt; it checks
            that the file or directory does &lt;strong&gt;not&lt;/strong&gt; exist.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
</xs:schema>